@model UserWrapper
<div class="d-flex justify-content-center flex-column">
    <h1>Welcome @Model.CurrentUser.FirstName. This is the page for the @Model.CurrentPosition.Name position.</h1>
    <h4>Description: @Model.CurrentPosition.Description</h4>
    <div class="row d-flex justify-content-around">
            <a href="/NewInterview/@Model.CurrentPosition.PositionId"><button class="btn btn-primary">Schedule an interview</button></a>
            <a href="/EditPosition/@Model.CurrentPosition.PositionId"><button class="btn btn-primary">Edit Position</button></a>
            @* <a href="/EditCompany"><button class="btn btn-primary">Change Notes</button></a> *@
            <a href="/DeletePosition/@Model.CurrentPosition.PositionId"><button class="btn btn-danger">Delete Position</button></a>
    </div>
    @if(@Model.CurrentPosition.Interviews.Count != 0){
        <div class="row d-flex justify-content-start">
            <p>Interviews:@Model.CurrentPosition.Interviews</p>
        </div>
    }
    @if(@Model.CurrentPosition.Requirements != null){
        <div class="row d-flex justify-content-start">
            <p>Requirements:@Model.CurrentPosition.Requirements</p>
        </div>
    }
    @if(@Model.CurrentPosition.Link != null){
        <div class="row d-flex justify-content-start">
            <p>Link:<a href="@Model.CurrentPosition.Link">@Model.CurrentPosition.Link</a></p>
        </div>
    }
    @if(@Model.CurrentPosition.Notes != null){
        <div class="row d-flex justify-content-start">
            <p>Notes:@Model.CurrentPosition.Notes</p>
        </div>
    }
</div>